body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px;
}
/* Define o estilo para o corpo do documento HTML */

*{
    font-family: Arial, Helvetica, sans-serif;
}
/*aplicação de familia de fonte, se o usuario não possuir uma fonte, irá abrir a próxima*/

main {
    flex-grow: 1;
}

/* Centraliza o conteúdo */
.foto-perfil{
    border-radius: 100%; /*borda circular*/
    max-width: 150px;
    border: 2px solid black;
    }

.container {
    text-align: center;
    }

#topMenu {
    display:flex;
    background-color: #302f2f;
    margin:0;
}

#topMenu li {
    color: white;
    text-decoration: none;
    padding: 20px;
}

h1, h2 {text-align: center;}

p {text-align: justify;
    padding: 20}
    
  a {
    text-decoration:underline;
    color: #fff;
    font-size: 16px;
  }

/*para exibir todos os itens da lista em uma linha*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }

/* para centralizar o conteúdo  horizontalmente*/
.centralize {
margin:auto;
text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    color: white;
    background-color: #302f2f;
    padding: 10px;
    margin:0
}
